nav {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    max-width: 400px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 5%;
}

.toolkit {
    border: 1px black solid
}

.sandbox {
    display: flex;
}

.form-elements {
    display: flex;
    flex-direction: column;
}

.workspace-profile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 250px;
    align-items: center;
    margin: 10px;
}

.workspaces {
    display: flex;
    flex-wrap: wrap;
}
.workplace-form {
    display: flex;
}

img {
   margin: 10px;
   width: 100%;
}


